<app-navbar></app-navbar>
<section id="about">
    <div  class="container pt-5">
        <div class="row" data-aos="fade-down">
            <div class="col-12 col-xl-6 " >
               <div class="img w-100">
                <img src="assets/images/about-img.jpg " >
               </div>
            </div>
            <div class="col-12 col-xl-6 ">
               <div class="text w-100 mb-10 text-box">
                <h2>who are we?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                    et dolore magna aliqua.dolor in reprehenderit in voluptate velit  </p>
                <p *ngIf="all">Lorem d tempor incididunt ut labore 
                    et dolore magna  exercitation ullamco laboris nisi ut
                     aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit  </p>
                <button *ngIf="!all" class="btn btn-warning"(click)="show()">Read More</button>  
               </div>      
            </div>
        </div>
    </div>
</section>





