section{
    height: auto;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(19, 21, 22, 0.7), rgba(20, 21, 22, 0.7)),url(/assets/images/login.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.sign{
    cursor: pointer;
}
form{
    padding-bottom: 20px;
}

h2{
    padding-top: 150px;
    color: black;
    font-weight: bold;
}

