<!---------------------<< scroll >>------------------------->
<button class="scroll-to-top" (click)="scrollToTop()">⬆ Top</button>

  <header>
    <!-- قائمة التنقل -->
    <nav>
      <!-- <app-navbar></app-navbar> -->
    
    </nav>
  </header>
  


  <main>
    <!-- مكان عرض المكونات الديناميكية -->
    <router-outlet></router-outlet>
    

    
  </main>
    <!-- <app-update-footer></app-update-footer> -->

  <!-- <div class="cover">
    <div class="spinner"> <i class="fa-solid fa-spinner"></i> </div>
</div> -->

  <footer>
    <!-- مكون الـ Footer -->
    <app-footer></app-footer>
   
  </footer>



  
  <script>



    // spiner 


</script>










