section{
    /* padding: 100px 0px; */
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;

}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.card img{
    width: 10%;
  
   
}



