
<!-- <app-navbar></app-navbar> -->
<!-- <app-admin-navbar></app-admin-navbar> -->
<section class="main" id="top" >
<div class="hero">
   <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-aos="fade-down"
    data-aos-duration="1000">
        <div class="carousel-inner" >
          <div class="carousel-item active" data-bs-interval="5000">
            <h2 >Your Saftey 1</h2>
            <h2 class="tex-success text-primary">our responsibility </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua.<br> Ut enim ad minim veniam </p>
            <button class="btn btn-primary m-2" (click)="scrollToSection('about')">Read More</button>
            <button class="btn btn-warning m-2 " (click)="scrollToSection('service')">Get a Quote</button>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <h2>Your Saftey 2</h2>
            <h2 class="tex-success text-primary">our responsibility </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua.<br> Ut enim ad minim veniam </p>
            <button class="btn btn-primary m-2" (click)="scrollToSection('about')">Read More</button>
            <button class="btn btn-warning m-2" (click)="scrollToSection('service')" >Get a Quote</button>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <h2>Your Saftey 3</h2>
            <h2 class="tex-success text-primary">our responsibility </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod magna aliqua.<br>Ut enim ad minim veniam </p>
            <button class="btn btn-primary m-2" (click)="scrollToSection('about')">Read More</button>
            <button class="btn btn-warning m-2 " (click)="scrollToSection('service')" >Get a Quote</button>
          </div>
        </div>
      
      </div>
   </div>
      </div>
</section>
<div>
   <app-about id="about"></app-about>
  <app-our-service id="service"></app-our-service>
  <app-guards></app-guards>
  <app-contact-us></app-contact-us>
  <app-comments></app-comments>

  


 
</div>

