<app-admin-navbar></app-admin-navbar>
<h1 class="m-5">All Customers</h1>
<div class="container my-4">

    <!-- ظاهر على الشاشات الكبيرة فقط -->
    <div class="table-responsive d-none d-md-block">
      <table class="table table-dark table-bordered text-center align-middle">
        <thead class="table-info">
          <tr>
            <th>#</th>
            <th>name</th>
            <th>gmail</th>
            <th>phone</th>
            <th>message</th>
            <th>option</th>
          </tr>
        </thead>
        <tbody>
         <ng-container *ngFor="let custm of customers; let index = index">
         <tr>
            <td>{{index + 1}}</td>
                <td>{{custm.name}}</td>
                <td>{{custm.gmail}}</td>
                <td>{{custm.phone}}</td>
                <td class="message d-none d-md-table-cell">{{custm.message}}</td> 
           <td><button (click)="deletCustm(custm.id)" class="btn btn-danger">delete</button></td>  
            </tr>
        
        </ng-container>
          <!-- باقي الصفوف -->
        </tbody>
      </table>
    </div>
  
    <!-- ظاهر فقط على الشاشات الصغيرة -->
    <div class="d-md-none">
      <div class="bg-dark text-white p-3 mb-3 rounded">
       <ng-container *ngFor="let custm of customers; let index = index">
        <p><strong>#:</strong>{{index + 1}}</p>
        <p><strong>Name:</strong>{{custm.name}}</p>
        <p><strong>Gmail:</strong>{{custm.gmail}}</p>
        <p><strong>Phone:</strong>{{custm.phone}}</p>
        <p><strong>Message:</strong> what you want to do</p>
        <button class="btn btn-danger" (click)="deletCustm(custm.id)">DELETE</button>
       </ng-container>
      </div>
  
      <!-- كرر البلوك دا لكل صف -->
    </div>
  
  </div>




  
