<h1 class="text-center m-5">Our Admins</h1>
<div class="container text-center">
    <table class="table table-dark text-left">
        <tr class="table table-info">
            <th>#</th>
            <th>name</th>
            <th>gmail</th>
            <th>password</th>
            <th>phone</th>
            <th>location</th>
            <th>optian</th>
        </tr>
        <tr *ngFor="let admin of admins; let index = index">
            <td>{{index + 1}}</td>
            <td>{{admin.name}}</td>
            <td>{{admin.email}}</td>
            <td>{{admin.password}}</td>
            <td>{{admin.phone}}</td>
            <td>{{admin.location}}</td> 
    <button (click)="deletAdmins(admin.id)" class="btn btn-danger m-1">delete</button>
        </tr>
    </table>
    <tbody *ngIf="admins.length == 0 ">
        <td colspan="7" >no data  to show</td>
    </tbody>
</div>



